@{
    Layout = "~/Views/Home/_IndexLayout.cshtml";
}
<h2><b>Про нас</b></h2>

<h3><b>Місія</b></h3>
<p class="lead">
    Створення умов для інноваційного розвитку, модернізація і диверсифікація економіки і наукової сфери, підвищення ефективності виробництва та реалізації конкурентних переваг країни в світі.
</p>

<h3><b>Мета</b></h3>
<p class="lead">
    Стимулювання інноваційної діяльності в університеті, комерціалізація результатів наукових досліджень і їх впровадження на вітчизняному і закордонному ринках.
</p>

<h3><b>Завдання</b></h3>
<p class="lead">
    <ol type="1">
        <li> Створення нових інноваційних продуктів та здійснення заходів щодо їх комерціалізації</li>
        <li> Сприяння розвитку інноваційних компаній</li>
        <li> Пошук інвесторів та партнерів</li>
        <li>Управління інноваційними розробками</li>
        <li> Налагодження зв’язків для організації підготовки кваліфікованих фахівців</li>
        <li> Розвиток співробітництва з вітчизняними та закордонними науковими та виробничими організаціями</li>
    </ol>
</p>



