<div class="page-banner-content">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("MainPage", "Home")">Головна</a></li>
        <li class="active">Контакна інформація</li>
    </ol>
</div>


<div class="col-xs-12 col-sm-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7196.08740659344!2d30.496307610325907!3d50.38144959675804!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9350245bf49c543d!2z0J3QsNGG0ZbQvtC90LDQu9GM0L3QuNC5INGD0L3RltCy0LXRgNGB0LjRgtC10YIg0LHRltC-0YDQtdGB0YPRgNGB0ZbQsiDRliDQv9GA0LjRgNC-0LTQvtC60L7RgNC40YHRgtGD0LLQsNC90L3RjyDQo9C60YDQsNGX0L3QuA!5e0!3m2!1suk!2sua!4v1490104679204" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
<div class="col-xs-7 col-sm-5">
 
        
        <h3 class="widgetheading">Контакна інформація</h3>
        <address>

            <p>
                <b>Our address</b><br />
                Heroyiv Oborony st., 15, Kyiv - 03041, Ukraine
            </p>
<p> <strong>E-mail: </strong><a href="mailto:rectorat@nubip.edu.ua"><br />   rectorat@nubip.edu.ua</a><br /></p> 
            <p>
                <b>How to reach us:</b><br />
                Subway station “Lybidska” оr  "Vystavkovyi Tsentr", then:
                Trolleybus № 2, 4, 11, 12, 43 Trolleybus stop “Hotel “Golosiivsky” or
                Bus №212, 1  Bus stop (on demand) “Korpus № 10”
            </p>
            <p>
                <strong>Support:</strong>   <a href="mailto:Support@example.com"><br />   Support@example.com</a><br />
            </p>
            <p>
                <strong>Mail address:</strong> <a href="mailto:SomeMail@example.com"><br />   Mail@example.com</a>
            </p>
<p>
                <b><abbr title="Phone"> Phone: </abbr></b>
                +38 044 531-36-52
            </p> 
            <p>
                <b><abbr title="Phone">Fax: </abbr></b>
                +38 044 257-71-55
            </p> 


</address>
    </div>

 