@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
  
  <pre style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size:20px"> 
      <b>Our address</b>
    Heroyiv Oborony st., 15, Kyiv - 03041, Ukraine

     <strong>E-mail: </strong><a href="mailto:rectorat@nubip.edu.ua"><br />   rectorat@nubip.edu.ua</a><br />
      <b>How to reach us:</b>
    Subway station “Lybidska” оr  "Vystavkovyi Tsentr", then:
    Trolleybus № 2, 4, 11, 12, 43 Trolleybus stop “Hotel “Golosiivsky” or
    Bus №212, 1  Bus stop (on demand) “Korpus № 10”

      <strong>Support:</strong>   <a href="mailto:Support@example.com"><br />   Support@example.com</a><br />
      <strong>Mail address:</strong> <a href="mailto:SomeMail@example.com"><br />   Mail@example.com</a>

     <b><abbr title="Phone"> Phone: </abbr></b>
    +38 044 531-36-52

     <b><abbr title="Phone">Fax: </abbr></b>
    +38 044 257-71-55 
</pre>
    
</address>

