@{
    ViewBag.Title = "Home Page";
}




<div class="row">


    @*
    <p class="lead">
        Науковий парк «Стале природокористування та якість життя» - це юридична особа, що створена з ініціативи Національного університету біоресурсів і природокористування України для організації, координації та контролю процесу комерціалізації університетської науки. 
    </p>
    
    <p class="lead">
        Науковий парк «Стале природокористування та якість життя» створено з метою розвитку освітньої, науково-технічної та інноваційної діяльності в НУБіП України, ефективного і раціонального використання наявного наукового потенціалу, матеріально-технічної бази для комерціалізації результатів наукових досліджень та їх впровадження на вітчизняному і закордонному ринках.
    </p>
    <p class="lead">
        Науковий парк «Стале природокористування та якість життя» організовує взаємодію трьох груп учасників: перша – це наукові групи, які генерують якісний людський потенціал та ноу-хау, друга – це високотехнологічні компанії, які потребують підживлення ноу-хау та людським потенціалом, третя – це інвестиційні фонди.
    </p>
    <h2><b>Про нас</b></h2>

    <h3><b>Місія</b></h3>
    <p class="lead">
        Створення умов для інноваційного розвитку, модернізація і диверсифікація економіки і наукової сфери, підвищення ефективності виробництва та реалізації конкурентних переваг країни в світі.
    </p>

    <h3><b>Мета</b></h3>
    <p class="lead">
        Стимулювання інноваційної діяльності в університеті, комерціалізація результатів наукових досліджень і їх впровадження на вітчизняному і закордонному ринках.
    </p>

    <h3><b>Завдання</b></h3>
    <p class="lead">
        <ol type="1">
            <li> Створення нових інноваційних продуктів та здійснення заходів щодо їх комерціалізації</li>
            <li> Сприяння розвитку інноваційних компаній</li>
            <li> Пошук інвесторів та партнерів</li>
            <li>Управління інноваційними розробками</li>
            <li> Налагодження зв’язків для організації підготовки кваліфікованих фахівців</li>
            <li> Розвиток співробітництва з вітчизняними та закордонними науковими та виробничими організаціями</li>
        </ol>
            </p>


    <p><a href="/Home/Info" class="btn btn-primary btn-lg">Детальніше&raquo;</a>
    </p>*@
    <div class="jumbotron">
        <img style="width:100%; height:150px" src="~/img/Untitled-1.png" /><br />
    </div>

    <div class="container-fluid">
       
            <div>@Html.Partial("_IndexDisplay")</div>

           
            
     
    </div>




</div>

<div>
    <div>

    </div>

   
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Sharing of ideas</h2>
        <p>
            In Europe, Pierre Laffitte, the mastermind and founder of Sophia Antipolis Science Park in France,
            described the concept of cross fertilization as the interchange between different cultures or 
            different ways of thinking that is mutually productive and beneficial; "the cross-fertilization
            of science and the creative arts" not only in terms of economic, but also on a social and cultural level. 
         </p>
        <p><a class="btn btn-default" href="http://google.com/">Any link &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Контакна інформація</h2>
        <p>вул. Героїв оборони, 15, Київ 03041</p>
        <p><a class="btn btn-default" href="/Home/Contact">Детальніше &raquo;</a></p>
</div>
 
</div>