
@{
    Layout = "~/Views/Home/_IndexLayout.cshtml";
}




<h2><b>Керівництво</b></h2>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <span><img  class="img-responsive img-thumbnail" src="~/img/1_57.jpg" /></span> 
        </div>
        <div class="col-xs-12 col-sm-8"> <p>Президент Наукового парку Ніколаєнко Станіслав Миколайович, доктор педагогічних 	наук, професор, ректор НУБіП України</p></div>
    </div>
    
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <span ><img class="img-responsive img-thumbnail"  src="~/img/TeclyukVV.png" /></span>
        </div>
        <div class="col-xs-12 col-sm-8"><p>Директор Наукового парку Теслюк Віктор Васильович,  доктор сільськогосподарських наук, професор</p> </div>
    </div>

</div>
