@{
    Layout = "~/Views/Home/_IndexLayout.cshtml";
}
<h2>Leaders</h2>
<h2><b>Керівництво</b></h2>
<p>Президент Наукового парку «Стале природокористування та якість життя» Ніколаєнко Станіслав Миколайович, доктор педагогічних наук, професор, ректор НУБіП України</p>
<p>Директор Наукового парку «Стале природокористування та якість життя» Теслюк Віктор Васильович,  доктор сільськогосподарських наук, професор </p>