@{
    Layout = "~/Views/Home/_IndexLayout.cshtml";
}

<div class="" style="height: 1000px" id="MainPage">
    <p> Науковий парк «Стале природокористування та якість життя» - це юридична особа, що створена з ініціативи Національного університету біоресурсів і природокористування України для організації, координації та контролю процесу комерціалізації результатів наукових досліджень.</p>
    <p>  Науковий парк «Стале природокористування та якість життя» створено з метою розвитку освітньої, науково-технічної та інноваційної діяльності в університеті, ефективного і раціонального використання наявного наукового потенціалу, матеріально-технічної бази для комерціалізації результатів наукових досліджень та їх впровадження на вітчизняному і закордонному ринках.</p>
    <p>  Науковий парк «Стале природокористування та якість життя» організовує взаємодію трьох груп учасників:  перша – це наукові групи, які генерують якісний людський потенціал та ноу-хау, друга – це високотехнологічні компанії, які потребують підживлення ноу-хау та людським потенціалом, третя – це інвестиційні фонди.</p>

    <h3><b>ПОТЕНЦІАЛ</b> УНІВЕРСИТЕТУ:</h3>
    <ul>
        <li>висококваліфіковані спеціалісти</li>
        <li>студенти</li>
        <li>наукові розробки та рішення</li>
    </ul>

    <h3><b>ПОТЕНЦІАЛ</b> НАУКОВОГО ПАРКУ:</h3>
    <ul>
        <li>середовище для наукових досліджень</li>
        <li>пошук розробок</li>
        <li>аналіз комерційного потенціалу</li>
        <li>обробка замовлень</li>
    </ul>

    Схема взаємодії учасників Наукового парку «Стале природокористування та якість життя»
    <img class="img-responsive" style="max-height: 400px" src="~/img/Схема взаємодії.PNG" />



</div>
