@{
    Layout = "~/Views/Home/_IndexLayout.cshtml";
}

<h3><b>Місія</b></h3>
<p class="lead">
    Створення умов для інноваційного розвитку, модернізація і диверсифікація економіки і наукової сфери, підвищення ефективності виробництва та реалізації конкурентних переваг країни в світі.
</p>

<h3><b>Мета</b></h3>
<p class="lead">
    Розвиток науково-технічної та інноваційної діяльності НУБіП України, ефективного та раціонального використання наявного наукового потенціалу, матеріально-технічної бази для комерціалізації результатів наукових досліджень і їх впровадження у виробництво. 
</p>

<h3><b>Завдання</b></h3>
<p class="lead">
    <ol type="1">
        <li>створення нових видів інноваційного продукту, здійснення заходів щодо їх комерціалізації, організація та забезпечення виробництва наукоємної продукції;</li>
        <li>  інформаційно-методичне, правове та консалтингове забезпечення засновників і партнерів наукового парку, надання патентно - ліцензійної допомоги;</li>
        <li> сприяння розвитку та підтримка малого інноваційного підприємництва;</li>
        <li>залучення студентів, випускників, аспірантів, науковців та працівників вищого навчального закладу та/або наукової установи до розроблення і виконання проектів наукового парку; </li>
        <li>організація підготовки, перепідготовки та підвищення кваліфікації спеціалістів, необхідних для розроблення і реалізації проектів наукового парку;</li>
        <li>розвиток міжнародного і вітчизняного співробітництва у  сфері науково-технічної  та інноваційної діяльності,  сприяння залученню іноземних інвестицій.</li>
    </ol>
</p>



