@*@model SpNubip.Models.Project

    <h2></h2>


    <h3>@Model.Name_Projects</h3>

    @Model.Author

    @Model.Tag_Projects

    @Model.Full_Description*@



<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe"><img src="~/img/Стартегічний план розвитку НП.doc - Google Документи - Google Chrome 2016-11-29 19.46.24.png" style="width:400px;height:400px" /></span>
        </div>
        <div class="col-sm-8">
            <h2>Our Values</h2>
            <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
            <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
        </div>
    </div>
</div>

</div><!-- Container /- -->
			</nav><!-- Ownavigation /- -->
<!-- Search Box -->
<div class="search-box">
    <span><i class="icon_close"></i></span>
    <form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
</div><!-- Search Box /- -->
		</header>

<main>
    <!-- Page Banner -->
    <div class="page-banner container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <div class="page-banner-content">
                <h3>About Us</h3>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div><!-- Container /- -->
    </div><!-- Page Banner -->
    <!-- About Section -->
    <div class="about-section container-fluid no-left-padding no-right-padding">
        <!-- Container -->
        <div class="container">
            <div class="col-md-5 col-sm-6 col-xs-6 about-img">
                <img class="size-img" src="~/img/Стартегічний план розвитку НП.doc - Google Документи - Google Chrome 2016-11-29 19.46.24.png" alt="about" />
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
                <!-- Section Header -->
                <div class="section-header">
                    <h5>About Us</h5>
                    <h3>Welcome to <span>Max Movers</span></h3>
                </div><!-- Section Header /- -->
                <div class="about-content">
                    <p>Now were up in the big leagues getting' our turn at bat. And when the odds are against him and their dangers work to do. </p>
                    <h5>Some Our <span>Sincerity,</span></h5>
                    <ul>
                        <li>Our Works Are Doing Very Fast.</li>
                        <li>Why do we always come here I guess well never know.</li>
                        <li>There ain't nothin' wrong with that The ship.</li>
                        <li>These Happy Days are yours and mine Happy Days.</li>
                    </ul>
                    <a href="#" title="Read More">Read More</a>
                </div>
            </div>
        </div><!-- Container -->
    </div>