<div class="page-banner-content">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("MainPage", "Home")">Головна</a></li>
        <li class="active">Стартап школа</li>
    </ol>
</div>

<div>
    <img class="img-rounded img-responsive" src="http://www.towave.ru/sites/default/files/imagecache/original/wysiwyg_imageupload/user-12/825s.png" style="width:100%"/>
    <h2 class="text-center">В університеті вирішили відкрити стартап-школу</h2>

    <p>
        24 лютого 2017 року в університеті за ініціативи Наукового парку НУБіП «Стале природокористування та якість життя» відбулась зустріч-дискусія «Стартап – це процес, який ідею перетворює на успішний бізнес». Її учасниками стали директори науково-дослідних інститутів, завідувачі кафедр, очільники науково-дослідної частини Володимиром Отченашко і відділу патентної, винахідницької та раціоналізаторської роботи Тетяна Герасимова, студенти та підприємці. Ментором заходу виступив успішний підприємець, досвідчений бізнес-тренер, керуючий партнер першої в Україні інноваційної екосистеми Sikorsky Challenge Ігор Пеєр.
    </p>
    <p>
        Потреба у проведені такої зустрічі викликана сучасними тенденціями в якості освіти та зацікавленням бізнесу у новітніх розробках, технологіях та висококваліфікованих спеціалістах, які продукують університети задля розвитку економіки країни.
    </p>
    <p>
        Зустріч була корисною як для студентів – майбутніх стартаперів, так і для вчених – основних генераторів ідей і власників нових технологій. Розглядалися питання, яке місце у високотехнологічному світі займають нові ідеї початківців-стартаперів, а яке - вже готові розробки у вигляді патентів, прототипів та готових технологічних рішень. Ігор Пеєр запевнив: для бізнес-структур всі рішення є цікавими  і потрібними. Він виділив основні  позиції: потрібно виходити на ринки, вивчати потреби інвесторів, пропонувати продукт, без остраху вдосконалювати його, щоб залишитися конкурентоспроможним, клонувати та продавати технології з виробництва продукту, а не сам продукт, оскільки такий шлях передбачає отримання більшої ефективності.
    </p>
    <p>
        За підсумками зустрічі було вирішено відкрити стартап-школу в нашому університеті. Маючи значний досвід в організації подібних структур, Ігор Пеєр пообіцяв підтримку та свою готовність допомогти у цій корисній справі нашим організаторам. Він відзначив, що студенти НУБіП – цікаві та перспективні стартапери-бізнесмени, а у наших вчених є багато потужних розробок, які варто запропонувати спраглим до інноватик виробничникам та підприємцям.
    </p>


</div>
<script type="text/javascript" src="~/Scriptsmove-top.js"></script>
<script type="text/javascript" src="~/Scriptseasing.js"></script>
<script src="~/Scripts/responsiveslides.min.js"></script>

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
</script>
<div class="gallery">
    <div class="container">
        <h2 class="heading text-center">Фото-Звіт</h2>
        <div class="gallery-bottom">
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9553.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9553.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9554.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9554.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9555.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9555.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9556.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9556.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9557.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9557.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9560.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9560.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9563.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9563.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9564.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9564.jpg" alt="" /></a>
            </div>
            <div class="col-md-3 gallery-grid">
                <a class="example-image-link" href="~/img/sckool/DSC_9566.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="~/img/sckool/DSC_9566.jpg" alt="" /></a>
            </div>
           <div class="clearfix"></div>
        </div>

    </div>
</div>
<script src="~/Scripts/lightbox.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>