@{
    Layout = "~/Views/Home/_IndexLayout.cshtml";
}
<h2><b>Організація діяльності в науковому парку «Стале природокористування та якість життя» НУБіП України</b></h2>
<img style="height: 500px" src="~/img/Стартегічний план розвитку НП.doc - Google Документи - Google Chrome 2016-11-29 19.46.24.png" />
